{
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "useTabs": true,
    "arrowParens": "avoid",
    "semi": false,
    "jsxSingleQuete": true,
    "singleAttributePerLine": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/providers/(.*)$",
        "^@/layout/(.*)$",
        "^@/store/(.*)$",
        "^@/hooks/(.*)$",
        "^@/constants/(.*)$",
        "^@/config/(.*)$",
        "^@/utils/(.*)$",
        "^@/api/(.*)$",
        "^@/components/(.*)$",
        "^@/ui/(.*)$",
        "^@/assets/(.*)$",
        "^@/types/(.*)$",
        "^@/../(.*)$",
        "^(.css)$",
        "^(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
  }